<!DOCTYPE html>
{% extends "base.html" %}
        {% block content %}
<html lang="en">

  <body>

      <!-- login page nav -->
      {% include  "nav.html" %}
      <!-- end of login page nav -->
      
    <!-- login -->
    <div class="container mt-5">
<div class="row justify-content-center">
<div class="col-md-5">
  <div class="login" style="margin: auto">
    <div class="login-content">
      <h2>Change Your Password</h2>
      {% with messages = get_flashed_messages() %}  
  {% if messages %}  
        {% for message in messages %}  
             <p>{{ message }}</p>  
        {% endfor %}  
  {% endif %}  
{% endwith %}  <br>
      <form action="/changepassword" method="post" class="login-form">
        <input
          id = "oldpassword"
          name = "oldpassword"
          type="password"
          placeholder="Old Password"
          class="login-password"
          required
        />
        <input
        id = "newpassword"
        name = "newpassword"
        type="password"
        placeholder="New Password"
        class="login-password"
        required
      />
      <input
        id = "confirmpassword"
        name = "confirmpassword"
        type="password"
        placeholder="Confirm Password"
        class="login-password"
        required
      />
        <div>
          <button type="submit" class="login-form-btn">Change Password</button>

        </div>
      </form>
    </div>
    <footer class="login-footer">
      <p>New to Twister? <a href="./register">Sign up now</a></p>

    </footer>
  </div>
</div>
</div>
    </div>
      <!-- end of login -->

   </body>
</html>
{% endblock %}