<!DOCTYPE html>
{% extends "base.html" %}
        {% block content %}
<html lang="en">
  <body>
    <!-- main page -->
    <section class="main-page">
      <!-- left -->
      <div class="left" style="
      padding-bottom: 250px;
  ">
        <div>
          <img src="/static/images/left.png" width="190" style="width: 190px;">
        <div class="left-content">
          <div>
            <i class="fas fa-search"></i>
            <h3 class="left-content-heading">Find trending products</h3>
          </div>
          <div>
            <i class="fas fa-user-friends"></i>
            <h3 class="left-content-heading">
              Explore what's hot and what's not
            </h3>
          </div>
          <div>
            <i class="fas fa-comment"></i>
            <h3 class="left-content-heading">Join the conversations that matter to your customers</h3>
          </div>
        </div>
        </div>
      </div>
      <!-- end of left -->
      <!-- right -->
      <div class="right">
    
        <div class="middle-content">
          <img src="/static/images/favicon.png" class="logo">
          <h1>Explore what's hapenning in the world</h1>
          <h4>Join Twister today</h4>
          <button type="button" class="sign-up main-btn" onclick="window.location.href='./register'">Sign up</button>
          <button type="button" class="log-in main-btn" onclick="window.location.href='./login'">Log In</button>
        </div>
      </div>
      <!-- end of right -->
      <!-- footer -->
    
      <!-- end of footer -->
    </section>
    <!-- end of main page -->
   </body>
</html>
{% endblock %}