<!DOCTYPE html>
{% extends "base.html" %}
        {% block content %}
<html lang="en">
  <body>
    <!-- main page -->
    <section class="main-page">
      <!-- left -->
      <div class="left">
        <div class="left-content">
          <div>
            <i class="fas fa-search"></i>
            <h3 class="left-content-heading">Find your interests</h3>
          </div>
          <div>
            <i class="fas fa-user-friends"></i>
            <h3 class="left-content-heading">
              Explore what people are talking about
            </h3>
          </div>
          <div>
            <i class="fas fa-comment"></i>
            <h3 class="left-content-heading">Join the people</h3>
          </div>
        </div>
      </div>
      <!-- end of left -->
      <!-- right -->
      <div class="right">
        <form class="right-content-form">
          <input
            type="text"
            class="user-info"
            placeholder="Phone, email, or username"
          />
          <div>
            <input type="password" class="password" placeholder="Password" />
            <label>Forgot Password?</label>
          </div>
          <button type="button" class="btn-top">Log in</button>
        </form>
        <div class="middle-content">
          <i class="fas fa-dove"></i>
          <h1>Explore what's hapenning in the world</h1>
          <h4>Join Twister today</h4>
          <button type="button" class="sign-up main-btn" onclick="window.location.href='./register'">Sign up</button>
          <button type="button" class="log-in main-btn" onclick="window.location.href='./login'">Log In</button>
        </div>
      </div>
      <!-- end of right -->
      <!-- footer -->
      <footer class="main-page-footer">
        <ul>
          {% for item in ["About", "Help", "Contact", "Privacy Policy", "Brand", "Developers" ] %}
            <li><a href="#">{{ item }}</a></li>
          {% endfor %}
          <li><a href="#">&copy; 2022 Twister</a></li>
        </ul>
      </footer>
      <!-- end of footer -->
    </section>
    <!-- end of main page -->
   </body>
</html>
{% endblock %}