<!DOCTYPE html>
{% extends "base.html" %}
        {% block content %}
<html lang="en">

  <body>

      <!-- login page nav -->
      {% include  "nav.html" %}
      <!-- end of login page nav -->

    <!-- login -->
    <div class="login" style="margin: auto">
        <div class="login-content">
          <h2>Log in to Twister</h2>
          <form action="login" method="post" class="login-form">
            <input
              id = "username"
              name = "username"
              type="text"
              placeholder="username"
              class="login-user-info"
            />
            <input
              id = "password"
              name = "password"
              type="password"
              placeholder="Password"
              class="login-password"
            />
            <div>
              <button type="submit" class="login-form-btn">Log in</button>
              <input type="checkbox" class="login-form-checkbox" id="check" />
              <label for="check">Remember me</label>
              <a href="#">Forgot password?</a>
            </div>
          </form>
        </div>
        <footer class="login-footer">
          <p>New to Twister? <a href="./register">Sign up now</a></p>

        </footer>
      </div>
      <!-- end of login -->

   </body>
</html>
{% endblock %}