<!DOCTYPE html>
{% extends "base.html" %}
        {% block content %}
<html lang="en">
  <body>
          <!-- sidebar -->
          <div class="w3-sidebar w3-bar-block w3-border-right" style="width:20%;right:0;top:5%;display:none" id="sidebar">


              <div class="sidebar-header border">
                <h2 class="light-text">Account info</h2>
                &nbsp; <button onclick="hideSidebar()" class="fas fa-times"></button>
              </div>

              <div class="header-img-wrapper">
                <img src=" {{ user_image }}" alt="">
              </div>

              <div class="sidebar-user-info light-text">
                <h4>{{ name }}</h4>
                <p>{{ username}}</p>
              </div>

              <div class="following light-text">
                <p class="following-paragraph"><span>{{ followers|length }}</span> Following</p>
                <p class="following-paragraph"><span>{{ following|length }}</span> Followers</p>
              </div>

              <div class="sidebar-list-1 border">
                <ul>
                  <li>
                    <a href="#"> <i class="fas fa-user"></i> Profile </a>
                  </li>
                  <li>
                    <a href="#"> <i class="far fa-list-alt"></i> Lists </a>
                  </li>
                  <li>
                    <a href="#"> <i class="far fa-bookmark"></i> Bookmarks </a>
                  </li>
                  <li>
                    <a href="#"> <i class="fab fa-adversal"></i> Ads </a>
                  </li>
                  <li>
                    <a href="#"> <i class="fas fa-chart-line"></i> Analytics </a>
                  </li>
                </ul>
              </div>
              <div class="sidebar-list-2">
                <ul>
                  <li><a href="/logout">Log Out</a></li>
                </ul>
              </div>
          </div>
          <!-- end of sidebar -->

        <!-- feeds nav -->
        <nav class="feeds-nav dark-mode-1">
          <div class="icons">
            <a href="#" class="active"><i class="fas fa-home"></i></a>
            <a href="#"><i class="fas fa-hashtag"></i></a>
            <a href="#"><i class="far fa-bell"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
          </div>
          <div class="search-bar">
            <i class="fas fa-search"></i>
            <input
              type="text"
              placeholder="Search Twister"
              class="search-bar-input dark-mode-2 light-text border"
            />
          </div>
          <div class="user">
            <div class="user-img-wrapper">
              <img src="{{ user_image }}" alt="user-img" />
            </div>
            <a href = "./profile" class="user-link light-text">{{ username }}</a>
            <button type="button" onclick="showSidebar()"><i class="fas fa-chevron-down"></i></button>
      
          </div>
        </nav>
        <!-- end of feeds nav -->
      <!-- feeds content -->

      <form action="/post_new" method="post">
      <div class="feeds-content dark-mode-2">
        <div class="feeds-header dark-mode-1">
          <div class="header-top border">
            <h4 class="light-text">Home</h4>
            <i class="far fa-star"></i>
          </div>
          <div class="header-post dark-mode-1 border">
            <div class="header-img-wrapper">
              <img src="{{ user_image }}" />
            </div>
           
            <input
              type="text"
              name="content"
              placeholder="What's happening?"
              class="dark-mode-2 light-text border"
              style="margin-left:30px;size:50;"
            />
            <input type = "submit" name="submit" value="Post" class="button" style="margin-left:3px;max-width: 60px;">
     
          </div>
        </div>
        </div>
        </form>

        <div class="posts dark-mode-1">
          {%for post in posts %}
          <div class="post border">
            <div class="user-avatar">
              <img src="{{ post.image_file }}" />
            </div>
            <div class="post-content">
              <div class="post-user-info light-text">
                <h4>{{ post.name }}</h4>
                <i class="fas fa-check-circle"></i>
                <span>{{ post.username }} {{ post.date_posted }}</span>
              </div>
              <p class="post-text light-text">
                {{ post.content }}
              </p>

              {% if post.post_image[-1] != "-" %}
                <div class="post-img">
                  <img src="{{ post.post_image }}" />
                </div>
              {%endif %}
              <div class="post-icons">
                <i class="far fa-comment">{{ post.comments|length }}</i>
                &nbsp; &nbsp;
                <button onclick="location.href='/post/{{ post.id }}/like'" type="button" formmethod="post" class="far fa-heart">{{ post.likes }}</button>
                &nbsp; &nbsp;
                <i class="fas fa-retweet"></i>
              </div>

              <form action="/post/{{ post.id }}/comment" method="post">
                <input type="text" name="comment" placeholder="Add a comment..." class="dark-mode-2 light-text border" />
                <input type="submit" name="submit" value="Comment" class="button" style="background-color: #f2641d;color: white;size:50px;border-radius: 20px; min-width: 100px;" />
              </form>
 

              <br>
              {% set latest_comment = post.comments[-1] %}
              {% if latest_comment %}
                <div class="post-content" style="border: 1px solid #221f1f;border-radius: 12px;">
                  <div class="post-header">
                    <span style="color:rgb(104, 98, 96)">{{ latest_comment.username }} : {{ latest_comment.date_posted }}</span>
                  </div>
                  <p class="comment-text light-text">
                    {{ latest_comment.content }}
                  </p>
                </div>
              {%endif %}

            </div>
          </div>
          {%endfor%}
        </div>

        <div class="follow dark-mode-1">
          <h3 class="follow-heading light-text border">Who to follow</h3>

          {% set unique_posts = [] %}
          {%for post in posts[:10] %}
          {%if post.username != username %}
          {%if post.username not in unique_posts %}

          {% set unique_posts = unique_posts.append(post.username) %}

          <div class="follow-user border">
            <div class="follow-user-img">
              <img src=" {{ post.image_file }}" />
            </div>
            <div class="follow-user-info light-text">
              <h4>{{ post.name }}</h4>
              <p>{{ post.username }}</p>
            </div>
            <button onclick="location.href='/user/{{ post.username }}/follow'" type="button" formmethod="post" class="follow-btn light-text">Follow</button>
          </div>
          {%endif %}
          {%endif %}
          {%endfor%}

          <footer class="follow-footer dark-mode-2">
            <ul>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Cookies</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">More</a></li>
            </ul>
          </footer>
        </div>
      </div>
      <!-- end of feeds content -->

      <button type="button" id="post-btn" class="post-btn">
        +<i class="fas fa-feather-alt"></i> Post
      </button>

      <!-- comment modal -->
      <div id="comment-modal"  class="modal">
        <form action="/comment_new" method="post">
          <div class="modal-header border">
            <span class="close"><i class="fas fa-times"></i></span>
            <input type = "submit" name="submit" value="Post" class="post-btn">
          </div>
          <div class="modal-body">
            <div class="modal-img">
              <img src="{{ user_image }}" />
            </div>

            <input
              type="text"
              name = "content"
              placeholder="What's happening?"
              class="modal-input dark-mode-2 light-text border"
            />
          </div>

          </form>
      </div>
      <!-- end of comment modal -->

      <!-- post modal -->
      <div id="post-modal"  class="modal">
        <form action="/post_new" method="post" enctype="multipart/form-data">
          <div class="modal-header border">
            <span class="close"><i class="fas fa-times"></i></span>
            <input type = "submit" name="submit" value="Post" class="post-btn">
          </div>
          <div class="modal-body">
            <div class="modal-img">
              <img src="{{ user_image }}" />
            </div>
            <input
              type="text"
              name = "content"
              placeholder="What's happening?"
              class="modal-input dark-mode-2 light-text border"
            />

          </div>
          <div class="modal-footer">
            <div class="modal-icons">
              <i class="far fa-image"></i>
            </div>
            <input type="file" name="post_image" />  
          </div>
          </form>
      </div>
      <!-- end of post modal -->

      <!-- sidebar on the right -->
      <div class="sidebar-wrapper">
        <div class="sidebar dark-mode-1">
          <div class="sidebar-header border">
            <i class="fas fa-times"></i>
            <h4 class="light-text">Profile</h4>
          </div>
          <div class="sidebar-content">
            <div class="sidebar-img">
              <img src="assets/images/user1.jpg" />
            </div>
            <div class="sidebar-info">
              <h4 class="light-text">{{ username }}</h4>
              <p class="light-text">{{ name }}</p>
              <p class="light-text">{{ email }}</p>
            </div>
            <div class="sidebar-icons">
              <i class="fas fa-user-edit"></i>
              <i class="fas fa-cog"></i>
              <i class="fas fa-sign-out-alt"></i>
            </div>
          </div>
        </div>
      </div>
      
      

   </body>

   <script>
    function showSidebar() {
      document.getElementById("sidebar").style.display = "block";
    }
    function hideSidebar() {
      document.getElementById("sidebar").style.display = "none";
    }

    // Get the modal
      var modal = document.getElementById("post-modal");

      // Get the button that opens the modal
      var btn = document.getElementById("post-btn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

  </script>

</html>
{% endblock %}