<!DOCTYPE html>
{% extends "base.html" %}
        {% block content %}
<html lang="en">

  <body>

      <!-- login page nav -->
      {% include  "nav.html" %}
      <!-- end of login page nav -->

    <!-- login -->
    <div class="login" style="margin-left: 25%;">
        <div class="login-content">
          <h2>Privacy Policy Page</h2>
          <h3 class="sub-page-content">
              This is Privacy Policy page.
          </h3>
        </div>
        <footer class="login-footer">
          <p>New to Twister? <a href="./register">Sign up now</a></p>

        </footer>
      </div>
      <!-- end of login -->

   </body>
</html>
{% endblock %}